<div id="myElement">Loading the player...</div>

<script type="text/javascript">
var playerInstance = jwplayer("myElement");
var tag = "https://www.adotube.com/php/services/player/OMLService.php?avpid=oRYYzvQ&platform_version=vast20&ad_type=linear&groupbypass=1&HTTP_REFERER=http://www.longtailvideo.com&video_identifier=longtailvideo.com,test";

playerInstance.setup({
    file: "https://bob.jwplayer.com/~test/assets/MediumVideo.mp4",
    image: "https://bob.jwplayer.com/~test/assets/MediumImage.jpg",
    width: 640,
    height: 360,
    title: 'Basic Video Embed',
    description: 'A video with a basic title and description!',
    advertising: {
      client: 'vast',
      schedule: {
        adbreak1: {
          offset: "pre",
          tag: tag
        },
        adbreak2: {
          offset: 10,
          tag: tag,
          type: 'nonlinear'
        }
      }
    }
});

playerInstance.on('complete', function(event){
  alert("Thanks for watching!");
});

playerInstance.on('time', function(event){
  if(Math.round(event.position) == 5){
    playerInstance.pause();
    $("img").attr('src', 'https://bob.jwplayer.com/~test/assets/HardImage2.jpg');
    playerInstance.play();
  }
});

playerInstance.on("adImpression",function(event){
  alert("The ad impression was fired.");
});
</script>

<a onclick='playerInstance.load()'>Load Video</a>
<a onclick='playerInstance.play()'>Play Video</a>

<div>
  <img src="https://bob.jwplayer.com/~test/assets/HardImage1.jpg" />
</div>